@import "src/assets/variables";

.PeopleTable {

  &.ui.table {
    width: 90%;
    margin: 1em auto;
  }

  &-TableHeader {
    .PeopleTable-TableRow {
      .PeopleTable-HeaderCell {
        position: relative;
        padding-left: 20px;
        text-align: center;
        cursor: pointer;

        &_id,
        &_sex,
        &_age {
          width: 65px;
        }
        &_born,
        &_died,
        &_century {
          width: 85px;
        }

      }

      .PeopleTable-HeaderCell:hover {
        background-color: lighten($teal, 9);
      }

      .PeopleTable-HeaderCell:first-child:only-child {
        text-align: center;
        font-size: 16px;
        color: maroon;
      }
    }

    .PeopleTable-Icon {
      position: absolute;
      margin-left: 2px;
      left: 0;
    }
  }

  &-TableBody {
    .PeopleTable-TableRow {
      background-color: #fff;

      &_male {
        color: $cyan;
      }

      &_female {
        color: $pink;
      }
    }
  }
}
